<footer class="pure-u-1 site-footer">
  <div class="wrapper">

      <div class="pure-menu pure-menu-horizontal">
        <ul>
          <li class="pure-menu-item"><a href="/super" class="pure-menu-link">About</a></li>
          {% if site.twitter_username %}
          <li class="pure-menu-item">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
            {% if site.github_username %}
            <li class="pure-menu-item">
                {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
  </div>
</footer>
